.single {
  &__page {
    padding: rem(64) 0;
  }

  &__container {}

  &__content {
    max-width: 770px;
    margin: 0 auto;
  }

  &__breadcrumbs {
    display: flex;
    margin-bottom: rem(32);

    a,
    .breadcrumb_last,
    span {
      color: #646572;
      text-decoration: underline;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &__breadcrumbs-link {
    color: #646572;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;

    &::after {
      content: "";
      position: absolute;
      right: -13px;
      bottom: 0;
      top: 3px;
      background: url(../images/breadcrumbs-arrow.svg);
      background-repeat: no-repeat;
      background-position: center center;
      display: flex;
      background-size: contain;
      height: 10px;
      width: 6px;
    }

    &:last-child {
      &::after {
        content: none;
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: rem(32);
    font-family: Poppins, sans-serif;
    font-size: rem(44);
    line-height: 1.4;
    font-weight: 500;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #e83a64;

    @include media(1200) {
      font-size: rem(28);
    }

    @include media(767) {
      font-size: rem(22);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(16);

    @include media(490) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__author {
    display: flex;
    align-items: center;

    @include media(490) {
      margin-bottom: rem(10);
    }
  }

  &__author-avatar {
    border-radius: 50%;
    overflow: hidden;
    margin-right: rem(10);

    @include media(767) {
      max-width: rem(30);
    }
  }

  &__author-name {
    color: #f18d34;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__date {
    display: flex;
  }

  &__post-status {
    color: #f18d34;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 2px;
  }

  &__post-date {
    color: #f18d34;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__body {
    iframe {
      width: 100%;
      max-width: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: Poppins, sans-serif;
      font-weight: 500;
      margin-top: rem(32);
      margin-bottom: rem(16);
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #e83a64;
    }

    h1 {
      font-size: rem(44);
      line-height: 1.4;
      margin-bottom: rem(32);
    }

    h2 {
      font-size: rem(28);
      line-height: 1.4;
    }

    h3 {
      font-size: rem(24);
      line-height: rem(34);
    }

    h4 {
      font-size: rem(20);
      line-height: rem(30);
    }

    h5 {
      margin-top: rem(48);
      margin-bottom: rem(32);
      font-family: $fontFamily;
      color: #ee7101;
      font-size: rem(16);
      line-height: rem(26);
      font-weight: 600;
    }

    h6 {
      margin-top: rem(44);
      margin-bottom: rem(28);
      font-family: $fontFamily;
      color: #ee7101;
      font-size: rem(14);
      line-height: rem(24);
      font-weight: 600;
    }

    p {
      margin-top: 0;
      margin-bottom: rem(20);
      color: #646572;
      font-size: rem(16);
      line-height: 1.7;
      letter-spacing: 0;

      a {
        color: #ee7101;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;

        &:hover {
          text-decoration: underline;
        }
      }

      strong {
        font-weight: 700;
        color: inherit;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
      }
    }

    strong {
      font-weight: 700;
      color: inherit;
      font-size: inherit;
      line-height: inherit;
      letter-spacing: inherit;
    }

    figcaption {
      text-align: center;
      margin-top: rem(5);
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #e83a64;
      font-size: 14px;
      line-height: 20px;
    }

    li {
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 0;
      margin-bottom: rem(20);
      color: #646572;
      font-size: rem(16);
      line-height: 1.7;
      letter-spacing: 0;
    }

    ul {
      li {


        &::before {
          content: "• ";
          position: absolute;
          left: -25px;
          width: 20px;
          background: $gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }

    ol {
      list-style-type: none;
      counter-reset: num;

      li {
        &::before {
          content: counter(num) '.';
          counter-increment: num;
          display: inline-block;
          position: absolute;
          left: -25px;
          width: 20px;
          text-align: right;
          background: $gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          font-size: 20px;
          line-height: 140%;

          @include media(1600) {
            font-size: 18px;
          }
        }
      }
    }
  }

  &__blog {
    border-top: 1px solid #e6e9ee;
    padding-top: rem(95);

    .article__content {
      height: auto;
      padding: 0;
    }

    .article__image {
      min-height: 270px;
      height: auto;

      @include media(490) {
        min-height: 200px;
      }
    }

    .article__header {
      padding: 1rem 2rem 1rem;
      border-bottom: 1px solid #e6e9ee;

      @include media(1280) {
        padding: rem(20);
      }
    }

    .article__body {
      padding: 1.5rem 2rem 1.5rem;

      @include media(1280) {
        padding: rem(20);
      }
    }
  }

  &__blog-subtitle {
    text-align: center;
    margin-bottom: rem(10);
    color: #ee7101;
    font-size: rem(12);
    line-height: rem(30);
    font-weight: 700;
    text-align: center;
    letter-spacing: rem(1);
    text-transform: uppercase;
  }

  &__blog-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: rem(32);
    font-family: Poppins, sans-serif;
    font-size: rem(46);
    line-height: 1.4;
    font-weight: 500;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #e83a64;

    @include media(1440) {
      font-size: rem(36);
    }

    @include media(1200) {
      font-size: rem(28);
    }

    @include media(767) {
      font-size: rem(22);
    }
  }

  &__blog-btn {
    background: $gradient;
    display: flex;
    width: max-content;
    min-width: rem(200);
    padding: rem(15);
    height: rem(48);
    justify-content: center;
    align-items: center;
    border-radius: rem(16);
    transition: all .2s linear;
    font-size: rem(14);
    font-weight: 600;
    text-align: center;
    color: #fff;
    white-space: nowrap;
    margin: rem(60) auto;

    &:hover {
      background: radial-gradient(85.25% 187.84% at 92% -10.71%, #f18c53 0, #e83a64 100%);
    }
  }
}